<%- include('top.ejs') %>
<%- include('nav.ejs') %>
<%- include('portada.ejs') %>

<main class="main">
    <%- //JSON.stringify(usuario, undefined, 2) %>
    <div class="main__contenedor contenedor">
        <%- include('novedades.ejs') %>
        <%- include('productos.ejs') %>
    </div>
</main>
<%- include('testimonios.ejs') %>
<script src="js/app.js"></script>
