<section class="productos">
    <%- // JSON.stringify(productos, undefined, 2) %>
    <h6 class="cajita">featured</h6>
    <div class="productos__headingBox">
        <div class="productos__headingBox__col">
            <h2 class="titulo-n2 mr-4">Featured Products</h2>
            <p class="descri">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="productos__headingBox__col">
            <a href="#" class="btn color-primario">View All <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
    <div class="productos__box mt-5">
        <% if(productos.length){ %>
            <% productos.forEach(producto => { %>
                <a href="/producto/<%- producto.id %>" class="productos__box__item">
                    <img src="uploads/productos/<%- producto.imagen  %>" alt="<%- producto.nombre %>"">
                    <p><%- producto.nombre %></p>
                    <div class="productos__box__item__precio">
                        <!-- <span class="productos__box__item__precio--real">$40</span> -->
                        <span class="productos__box__item__precio--oferta">S/. <%- producto.precio %></span>
                    </div>
                </a>
            <% }) %>
        <% } else { %>
            <p>Ningun producto en alamcen</p>
        <% } %>
    </div>
</section>