<%- include('top.ejs') %>
<%- include('nav.ejs') %>

<main class="main">
    <div class="main__contenedor contenedor">
        <section class="producto pt-5 pb-5">
            <div class="producto__detalle">
                <div class="producto__detalle__img">
                    <img src="/uploads/productos/<%- producto.imagen %>" alt="<%- producto.nombre %>">
                </div>
                <div class="producto__detalle__data">
                    <h2 class="tituloPro"><%- producto.nombre %></h2>
                    <div class="producto__detalle__data__precio">
                        <!-- <span class="producto__detalle__data__precio__before">$40</span> -->
                        <span class="producto__detalle__data__precio__oferta">S/. <%- producto.precio %></span>
                    </div>
                    <p class="descri">
                        <%- producto.descripcion %>
                    </p>
                    <form class="producto__detalle__data__form" action="/producto/cart/<%- producto.id %>" method="post">
                        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                        <div class="producto__detalle__data__form__canti">
                            <input type="number" value="1" max="<%- producto.cantidad %>" name="cantidad">
                        </div>
                        <div class="producto__detalle__data__form__btn">
                            <input type="submit" value="Add to cart">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/js/app.js"></script>
