<section class="admin">
    <%- include('../menu.ejs') %>
    <div class="admin__data">
        <h1 class="titulo-n2 text-center mb-5">Todos Los productos</h1>
        <a href="/admin/productos/crear" class="btn btnBG-naranja color-blanco mb-5">Crear Producto</a>
        <% if(locals.mensajes){ %>
            <p class="mensaje mb-3">
                <%- locals.mensajes.mensaje %>
            </p>
        <% } %>
        <div class="admin__data__box">
            <%- //JSON.stringify(productos, undefined, 2) %>

            <div class="admin__data__box__header">
                <div class="admin__data__box__header--name data-id">
                    ID
                </div>
                <div class="admin__data__box__header--name data-nombre">
                    NOMBRE
                </div>
                <div class="admin__data__box__header--name data-desc">
                    DESCRIPCIÓN
                </div>
                <div class="admin__data__box__header--name data-img">
                    IMAGEN
                </div>
                <div class="admin__data__box__header--name data-precio">
                    PRECIO
                </div>
                <div class="admin__data__box__header--name data-canti">
                    CANTIDAD
                </div>
                <div class="admin__data__box__header--name data-ac">
                    ACCIONES
                </div>
            </div>
            <div class="admin__data__box__body">
                <% if(productos.length){ %>
                    <% productos.forEach(producto =>{ %>
                        <div class="admin__data__box__body__fila">
                            <div class="admin__data__box__body__fila--name data-id">
                                <%- producto.id %>
                            </div>
                            <div class="admin__data__box__body__fila--name data-nombre">
                                <%- producto.nombre %>
                            </div>
                            <div class="admin__data__box__body__fila--name data-desc">
                                <%- producto.descripcion %>
                            </div>
                            <div class="admin__data__box__body__fila--name data-img">
                                <img src="/uploads/productos/<%- producto.imagen %>" alt="">
                            </div>
                            <div class="admin__data__box__body__fila--name data-precio">
                                S/. <%-producto.precio %>
                            </div>
                            <div class="admin__data__box__body__fila--name data-canti">
                                <%-producto.cantidad %>
                            </div>
                            <div class="admin__data__box__body__fila--name data-ac">
                                <a href="/admin/productos/editar/<%- producto.id %>" class="admin__data__box__body__fila--name--editar">editar</a>
                                <a href="/admin/productos/borrar/<%- producto.id %>" class="admin__data__box__body__fila--name--borrar ml-1">borrar</a>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No tienes ningun producto en el sistema</p>
                <% } %>
            </div>
        </div>
    </div>
</section>